<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://LENOVO-PC\SQLEXPRESS;databaseName=mavi</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.connection.password">12345</property>
    <mapping class="javafxapplication7.Terziler"/>
  </session-factory>
</hibernate-configuration>
